<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Create User</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name</label>
                    <div class="col-md-4">
                        <input id="name" name="name" type="text" placeholder="Enter name..." class="form-control input-md" ng-model="u.user.name">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="text" placeholder="Email address..." class="form-control input-md" ng-model="u.user.email">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="dob">Date of Birth</label>
                    <div class="col-md-4">
                        <input id="dob" name="dob" type="text" placeholder="Date of Birth..." class="form-control input-md" ng-model="u.user.dob">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="telnumb">Phone number</label>
                    <div class="col-md-4">
                        <input id="telnumb" name="telnumb" type="text" placeholder="Phone Number,,," class="form-control input-md" ng-model="u.user.telnumb">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="address">Address</label>
                    <div class="col-md-6">
                        <input id="address" name="address" type="text" placeholder="Address..." class="form-control input-md" ng-model="u.user.address">

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="add"></label>
                    <div class="col-md-4">
                        <a id="add" name="add" class="btn btn-primary" ng-click="updateUser()">Add User</a>
                    </div>
                </div>

            </fieldset>
        </form>


    </div>
</div>